
/*product container*/
.card-title{
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.card-text{
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.product-thumbnail{
    height: 230px;
    display: flex;
    align-items: center;
}
.product-container{
    margin-top:20px;
}
.btn a{
    text-decoration: none;
}
h6.card-subtitle.mb-2.text-muted {
    height: 40px;
}